<mat-card class="login-card">
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

      <mat-form-field class="full-width">
        <mat-label>Access Code (Aquired in-game)</mat-label>
        <input formControlName="accessCode" matInput required type="text">
      </mat-form-field>
      <button [disabled]="!loginForm.valid" mat-raised-button type="submit">Login</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Miksu! Diva IP</mat-card-title>
  <mat-card-content>
    IP : aqua.miksu.pw
  </mat-card-content>
</mat-card>
